<!DOCTYPE html>

<html>

    {% include head.html %}
    
    <body>
        
        {% include header.html %}
        
        
<div id="main" class="alt">
    
<section id="banner" class="style2">
  <div class="inner">
      <header class="major">
      <h1>{{page.title}}</h1>
      </header>
  <span class="image">
      {% if page.image %}<span class="image"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
</span>
  <header class="major">



</header>
  <div class="content">

{{ page.description }}

</div>
</div>
</section>

<section id="one">
    <div class="inner">
    <p class="post_p">{{content}}</p>
    </div>

</section>
    
</div>
        
    {% include footer.html %}
        
</body>

</html>